.footer {
  background-color: var(--light-blue-magenta);
  padding: 60px;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer__title {
  margin-bottom: 60px;
  color: var(--light-green);
}

.footer__container ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.footer__container ul li a {
  text-decoration: none;
  font-size: 1.25rem;
  background-color: var(--bolder-blue-magenta);
  padding: 10px 20px;
  border-radius: 5px;
  color: var(--light-green);
}

.footer__container ul li a:hover {
  background-color: var(--light-blue-magenta);
  color: var(--white);
  border: solid 2px var(--white);
  transition: .2s;
}