/* General Settings */

.header {
  background-color: var(--light-blue-magenta);
  height: auto;
  width: 100%;
}

.header .header__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.menu__button {
  display: none;
}

.menu__list {
  list-style: none;
  display: flex;
  gap: 1.25rem;
}

.menu__link {
  display: block;
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
  padding: .5rem;
}

.menu__link:hover {
  color: var(--light-green);
  transition: 600ms;
}