@media (max-width: 920px) {
  .project {
    flex-direction: column;
  }

  .project__description {
    gap: 20px;
    place-self: center;
  }
}

@media (max-width: 800px) {

  .logo {
    z-index: 2000;
  }

  .menu__button {
    display: flex;
    color: var(--white);
    padding: .5rem 1rem;
    background: none;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    align-items: center;
  }

  .menu-burger {
    display: block;
    width: 30px;
    border-top: 3px solid var(--white);
  }

  .menu-burger::after,
  .menu-burger::before {
    content: "";
    display: block;
    width: 30px;
    margin-top: 5px;
    border-top: 3px solid var(--white);
  }

  .menu__list {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0;
    background-color: var(--light-blue-magenta);
    height: 0px;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
    transition: .6s;
  }

  .menu__list .menu__link {
    margin: .5rem;
    border-bottom: 2px solid var(--white);
  }

  .menu .menu__link:hover {
    color: var(--light-green);
    border-color: var(--light-green);
    transition: 800ms;
  }

  .menu.active .menu__list {
    display: block;
    visibility: visible;
    overflow-y: auto;
    height: calc(100vh - 70px);
  }

  .introduction__container {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .introduction__image {
    width: 250px;
  }
}